[Desktop Entry]
Type=Service
MimeType=application/octet-stream;inode/directory
Actions=peazipadd;peazipadd7z;peazipaddgzip;peazipaddzip;peazipconvert;peazipext;peazipexthere;peazipextfolder;peazipopen;
X-KDE-Submenu=PeaZip
X-KDE-Priority=TopLevel

[Desktop Action peazipadd]
Name=Archive...
Icon=peazip
Exec=peazip -add2archive %F

[Desktop Action peazipadd7z]
Name=Add to 7Z
Icon=peazip_7z
Exec=peazip -add27z %F

[Desktop Action peazipaddgzip]
Name=Add to GZIP
Icon=peazip_add
Exec=peazip -add2gzip %F

[Desktop Action peazipaddzip]
Name=Add to ZIP
Icon=peazip_zip
Exec=peazip -add2zip %F

[Desktop Action peazipconvert]
Name=Convert...
Icon=peazip_convert
Exec=peazip -add2convert %F

[Desktop Action peazipext]
Name=Extract...
Icon=peazip
Exec=peazip -ext2full %F

[Desktop Action peazipexthere]
Name=Extract here
Icon=peazip_extract
Exec=peazip -ext2here %F

[Desktop Action peazipextfolder]
Name=Extract here to a new folder
Icon=peazip_extract
Exec=peazip -ext2folder %F

[Desktop Action peazipopen]
Name=Open with PeaZip...
Icon=peazip
Exec=peazip -ext2browse %F
